{% extends 'base.html' %}
{% block content %}

<p>Bulma (<a href="https://bulma.io/">https://bulma.io/</a>)</p>

<ul>
    <li>Pure CSS framework (Inevitably, you'll need to write a bit of JavaScript)
        <ul>
            <li>PRO: Doesn't pull in a huge block of JavaScript</li>
            <li>PRO: Write JavaScript the way you want to</li>
            <li>CON: You'll probably wind up writing a bit more
                JavaScript than you would with something like bootstrap</li>
            <li>Documentation is pretty good about providing samples
                where you need to add JavaScript</li>
        </ul>
    <li>Based on flexbox & grid</li>
    <li>Define themes using SASS/SCSS</li>
</ul>

<pre style="grid-area: 3 / 1 / 3 / 5; margin-left: auto; margin-right: auto;">
&lt;button class="button is-white"&gt;White&lt;/button&gt;
&lt;button class="button is-light"&gt;Light&lt;/button&gt;
&lt;button class="button is-dark"&gt;Dark&lt;/button&gt;
&lt;button class="button is-black"&gt;Black&lt;/button&gt;
&lt;button class="button is-text"&gt;Text&lt;/button&gt;
&lt;button class="button is-ghost"&gt;Ghost&lt;/button&gt;
</pre>

{% endblock %}