{% extends 'base.html' %}
{% block content %}

<h3>Keep it relative.  Keep it safe. </h3>

<div id="relative-css-units">

    <table>
        <caption>Good</caption>
        <thead>
            <tr>
                <th>Unit</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>%</td>
                <td>Percentage (relative to parent element)</td>
            </tr>
            <tr>
                <td>rem</td>
                <td>Size relative to height of the page's default font size</td>
            </tr>
            <tr>
                <td>vh &amp; vw</td>
                <td>Size relative to size of viewport (the visible portion of
                    page).  50wh is half the width of the viewport</td>
            </tr>
            <tr>
                <td>rlh</td>
                <td>Default line height of document</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Bad</caption>
        <thead>
            <tr>
                <th>Unit</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>px</td>
                <td>pixels</td>
            </tr>
            <tr>
                <td>pt</td>
                <td>points (1/72 in)</td>
            </tr>
            <tr>
                <td>mm</td>
                <td>millimeters</td>
            </tr>
            <tr>
                <td>in</td>
                <td>inches</td>
            </tr>
            <tr>
                <td>em</td>
                <td>*Size o parent element's font</td>
            </tr>
            <tr>
                <td>lh</td>
                <td>** Line height of element</td>
            </tr>
        </tbody>
    </table>

    <div style="grid-column: 1 / 3">
        <div>* This is a relative unit, but it's relative to the parent element's font-size</div>
        <div>** Relative unit, but effected by line height of parent elements</div>
    </div>



</div>

{% endblock %}
