{% extends 'base.html' %}
{% block content %}

<form>
    <label for="favoriteColor">What is your favorite color?</label>
    <input id="favoriteColor"
           name="favoriteColor"
           type="text"
           list="color"/>
    <datalist id="color">
        <option value="red">red</option>
        <option value="green">green</option>
        <option value="blue">blue</option>
    </datalist>

    <input type="submit"/>
</form>


<pre>
    &lt;input id="favoriteColor"
           name="favoriteColor"
           type="text"
           list="color"/&gt;
    &lt;datalist id="color"&gt;
        &lt;option value="red"&gt;red&lt;/option&gt;
        &lt;option value="green"&gt;green&lt;/option&gt;
        &lt;option value="blue"&gt;blue&lt;/option&gt;
    &lt;/datalist>
</pre>

{% endblock %}
