{% extends 'base.html' %}
{% block content %}

<ul>
    <li>Currently well support standard is ECMAScript7</li>
    <li>Latest version of standard is ECMAScript14 (released in June 2023)</li>
    <li>Features introduced in ECMASCRIPT6
        <ul>
            <li>class declarations</li>
            <li>import/export</li>
            <li>for ... of loops</li>
            <li>Python-style generator</li>
            <li><code>let</code> and <code>const</code></li>
            <li>... and many more.</li>
        </ul>

    </li>
</ul>



{% endblock %}