{% extends 'base.html' %}
{% block content %}

<form>
    <table class="input-examples">
        <thead>
            <tr>
                <th>Appearance</th>
                <th>HTML</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="email" name="email"/></td>
                <td>&lt;input type="email"/&gt;</td>

            </tr>
            <tr>
                <td><input type="number" name="number" min="0" max="20" step="5"/></td>
                <td>&lt;input type="number" min="0" max="20" step="5"/&gt;</td>
            </tr>
            <tr>
                <td><input type="range" name="range" min="-8" max="8" step="2"/></td>
                <td>&lt;input type="range" min="-8" max="8" step="2"/&gt;</td>
            </tr>
            <tr>
                <td><input type="url" name="url"/></td>
                <td>&lt;input type="url"/&gt;</td>
            </tr>
            <tr>
                <td><input type="file" name="file" multiple/></td>
                <td>&lt;input type="file" multiple/&gt;</td>
            </tr>
        </tbody>
    </table>

    <input type="submit" value="submit"/>
</form>

{% endblock %}
