{% extends 'base.html' %}
{% block content %}

<p>Node.js is a JavaScript interpreter that runs outside a browser</p>
<p><a href="https://nodejs.org">https://nodejs.org</a></p>
<p>Includes a standard library which covers things such as file I/O, operating
    system calls, networking, etc.</p>
<p>You can run web applications with Node.js in much the same way as you can
    with a Python framework like Flask (If you're into that sort of thing)</p>
<p>Even if you're not writing a Node.js application, you're probably
    using it's package manager (more on that later)</p>

{% endblock %}