{% extends 'base.html' %}
{% block content %}

<ul>
    <li>Node.js is a JavaScript interpreter that runs outside a browser</li>
    <li><a href="https://nodejs.org">https://nodejs.org</a></li>
    <li>Includes a standard library which covers things such as file I/O, operating
    system calls, networking, etc.</li>
    <li>You can run web applications with Node.js in much the same way as you can
    with a Python framework like Flask (If you're into that sort of thing)</li>
    <li>Even if you're not writing a Node.js application, you're probably
    using its package manager (more on that later)</li>
</ul>

<table class="command-examples">
    <thead>
        <tr>
            <th>Command</th>
            <th>What it does</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>node --version</td>
            <td>show node version</td>
        </tr>
        <tr>
            <td>node someScript.js</td>
            <td>run a script</td>
        </tr>
    </tbody>
</table>


{% endblock %}