{% extends 'base.html' %}
{% block content %}

<ul>
    <li>NPM is the Node Package Manager</li>
    <li>Installed as part of the Node.js installation</li>
    <li>Very popular tool for managing JavaScript packages</li>
    <li>A huge library of packages are available at
        <a href="https://www.npmjs.com">https://www.npmjs.com</a></li>
</ul>

<table class="command-examples">
    <thead>
        <tr>
            <th>Command</th>
            <th>What it does</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>npm --version</td>
            <td>outputs the version of npm</td>
        </tr>
        <tr>
            <td>npm list</td>
            <td>Lists installed packages</td>
        </tr>
        <tr>
            <td>npm install typescript</td>
            <td>Installs a package (TypeScript in this case)</td>
        </tr>
        <tr>
            <td>npm install typescript@5.4.5</td>
            <td>Installs a specific version of a packages</td>
        </tr>
        <tr>
            <td>npm install</td>
            <td>Installs packages as specified in the package-lock.json file</td>
        </tr>
        <tr>
            <td>npm uninstall typescript</td>
            <td>Un-installs package</td>
        </tr>
    </tbody>
</table>


{% endblock %}