{% extends 'base.html' %}
{% block content %}

<p><code>nvm</code>, a magic bash script for managing node environments</p>
<p><a href="https://github.com/nvm-sh/nvm">https://github.com/nvm-sh/nvm</a></p>
<p>Installs using curl or wget piped to bash</p>

<table class="command-examples">
    <thead>
        <tr>
            <th>Command</th>
            <th>What it does</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>nvm --version</td>
            <td>outputs the version of nvm</td>
        </tr>
        <tr>
            <td>nvm install 20</td>
            <td>Install version 20 of Node.js</td>
        </tr>
        <tr>
            <td>nvm ls</td>
            <td>List available node versions (not just installed)</td>
        </tr>
        <tr>
            <td>npm use 20</td>
            <td>Use a specific node version</td>
        </tr>
    </tbody>
</table>

{% endblock %}