
:root{
    --border-width-wide: 0.25rem;
}

header, article, section, footer, aside, nav{
    padding: 0.5rem;
}

body{
    font-size: 1.5rem;
}

h1.page-title{
    font-size: 2rem;
}

header{
    border: solid green var(--border-width-wide);
    margin-bottom: 1rem;
}


article{
    border: solid red var(--border-width-wide);
    margin-bottom: 1rem;
}

section{
    border: solid blue 0.125rem;
    margin: 0.5rem;
}

footer{
    border: solid orange var(--border-width-wide);
}

aside{
    border: solid goldenrod var(--border-width-wide);
    background: yellow;
    margin-right: 1rem;
}

nav{
    border: solid purple var(--border-width-wide);
    margin-bottom: 1rem;
}

table.input-examples > thead > tr > th:nth-of-type(1),
table.input-examples > tbody > tr > td:nth-of-type(1){
    font-family: monospace;
}

div.css-joke{
    width: fit-content;
    font-size: 4rem;
    font-weight: bold;
    border: solid black 0.25rem;
    padding: 1rem;
    margin: 2rem auto 1rem auto;
}

div.css-joke > p{
    margin: 0.5rem;
}

div#relative-css-units{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#relative-css-units > h4{
    text-align: center;
}