
:root{
    --border-width-wide: 0.25rem;
    --border-width-narrow: 0.125rem;

    --color-background: white;
    --color-foreground: black;
    --color-pastel-pink: pink;
    --color-pastel-green: palegreen;
    --color-pastel-yellow: rgb(255, 250, 205);
    --color-pastel-blue: paleturquoise;

    --border-thin: solid var(--color-foreground) var(--border-width-narrow);
}

/* rules applied to element types */

header, article, section, footer, aside, nav{
    padding: 0.5rem;
}

body{
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

canvas{
    width: 16rem;
    height: 16rem;
    border: solid var(--color-foreground) var(--border-width-narrow);
}

dialog{
    height: 75vh;
    width: 50vw;
    margin: auto;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

pre{
    background-color: lightgray;
    padding: 0.5rem;
    border: solid var(--color-foreground) var(--border-width-narrow);
}

table{
    border-collapse: collapse;
}



header{
    border: solid green var(--border-width-wide);
    margin-bottom: 1rem;
}


article{
    border: solid red var(--border-width-wide);
    margin-bottom: 1rem;
}

section{
    border: solid blue var(--border-width-narrow);
    margin: 0.5rem;
}

footer{
    border: solid orange var(--border-width-wide);
}

aside{
    border: solid goldenrod var(--border-width-wide);
    background: yellow;
    margin-right: 1rem;
}

h1.page-title{
    font-size: 2rem;
}

nav.page-structure{
    border: solid purple var(--border-width-wide);
    margin-bottom: 1rem;
}

table.input-examples > thead > tr > th:nth-of-type(1),
table.input-examples > tbody > tr > td:nth-of-type(1){
    padding: 0.25rem;
    font-family: monospace;
}

div.css-joke{
    width: fit-content;
    font-size: 4rem;
    font-weight: bold;
    border: solid black var(--border-width-wide);
    padding: 1rem;
    margin: 2rem auto 1rem auto;
}

div.css-joke > p{
    margin: 0.5rem;
}

div#relative-css-units{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 2rem;
}

div#relative-css-units > table:first-of-type{
    background-color: lightgreen;
}

div#relative-css-units > table:last-of-type{
    background-color: lightcoral;
}


div#relative-css-units > table > thead > tr > th,
div#relative-css-units > table > tbody > tr > td{
    border: solid var(--color-foreground) var(--border-width-narrow);
    padding: 0.25rem;
}



nav.template-nav{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

nav.template-nav > div > h2{
    margin: auto;
}

nav.template-nav > div{
    display: flex;
}

nav.template-nav > div > a{
    margin-top: auto;
    margin-bottom: auto;
}

div.template-content{
    width: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

div.sass-intro,
div.bulma{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
}
